backend/node_modules/
backend/dist/
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/uploads/*
!backend/uploads/.gitkeep
backend/.env
**/.dart_tool/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
**/.gradle/
**/android/local.properties
ios/Pods/
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/**/*.iml
frontend/.idea/
frontend/android/.gradle/
frontend/android/local.properties
frontend/ios/Pods/
.DS_Store
*.log
.idea/
.vscode/
